.team-image-logo {
    max-width: 18rem;
    max-height: 18rem;
    overflow: hidden;
    margin: 2rem;
}

.team-image {
    width: 100%;
    max-width: 100%;
    color: var(--white-color);
}

.soccer-camp-image-bg {
    background-image: url("../../img/soccer_camp.jpg");
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.team-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-image-title h1 {
    font-size: 13rem;
    cursor: default;

}

@media (max-width: 80rem) {
    .team-image-title h1 {
        font-size: 7rem;
    }

    .team-image-container{
        flex-direction: column;
    }

    .team-image-logo {
        max-width: 20rem;
        max-height: 20rem;
        overflow: hidden;
        margin: 2rem;
    }

    .left-arrow, .right-arrow {
        font-size: 2.5rem;
    }
}


@media (max-width: 40rem) {

    .team-image-container{
        flex-direction: column;
    }

    .team-image-title h1 {
        font-size: 5rem;
    }


    .team-image-logo {
        max-width: 20rem;
        max-height: 20rem;
        overflow: hidden;
        margin: 1rem;
    }

}